<div class="score">You scored <%= @percent_used %></div>
<div class="explanation">In your last <%= @tweet_count %> tweets, you utilized <%= @chars_used %> of the <%= @potential_chars %> characters available to you. 
	<br/>Your shortest tweet was <%= @shortest_tweet %> characters. But, hey, at least your longest tweet was <%= @longest_tweet %>.
</div>
