<div class="score">You scored <%= @percent_used %></div>
<div class="explanation">In your last <%= @tweet_count %> tweets, you utilized <%= @chars_used %> of the <%= @potential_chars %> characters available to you. 
	<br/>Your shortest tweet was <%= @shortest_tweet %> characters. But hey, at least your longest tweet was <%= @longest_tweet %>.
</div>
<div class="tweet-this">
    <form action='/update' method="POST">
        <input type="hidden" name="update" value="In my last <%= @tweet_count %> tweets, I used <%= @chars_used %> (<%= @percent_used %>) of the <%= @potential_chars %> characters available to me. How about you? http://tweetconomy.heroku.com"/>
        <input type="submit" value="tweet (something sort of similar to) this"/>
    </form>
</div>